.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 740px;
  min-height: 100vh;
  padding: 20px 0;
}

.footer {
  color: var(--text-muted);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  margin-top: auto;
  padding: 12px;
  text-align: center;
  width: 100%;
}

.task-list-empty-state {
  color: var(--text-muted);
  padding: 12px 0;
}

input[type="search"],
input[type="text"],
textarea {
  color: var(--text-normal);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  resize: none;
  width: 100%;
}

input[type="search"]:focus,
input[type="text"]:focus,
textarea:focus {
  outline: none;
}

input[type="search"]::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
  color: var(--text-muted);
}
