:root {
  --text-normal: #eceff4;
  --text-muted: rgb(236, 239, 244);
  --background-secondary: rgb(41, 46, 57);
  --background-primary: #2e3440;
  --background-focused: #3b4252;
  --shadow-focused: rgba(0, 0, 0, 0.35);
}

body {
  background-color: var(--background-secondary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
